@use './global/_mixins.scss' as *;
@use './global/_variable.scss' as *;
.general-header{
    padding: 100px 0px;
    position: relative;
    background-image: url('./img/background/background-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    & .container{
        position: relative;
        z-index: 3;
    }
}
.general-header::after{
    content: '';
    display: inline;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    background-color: rgba(37, 43, 73, 0.824);
}
.general-header__top{
    display: flex;
    justify-content: space-between;
    border: solid;
    border-color: #BABBC5;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 100px;
}
.general-header__top__nav{
  position: relative;
}
.general-header__top__logo{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    & .right a{
        color: #656980;
        font-weight: bold;
    }
    & .left a{
        color: white;
        font-weight:lighter;
    }
}
.general-header__top__nav__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.general-header__top__nav__burger-checkbox{
    visibility: hidden;
    position: absolute;
}
.general-header__top__nav__burger{
  position: relative;
  
  z-index: 3;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.general-header__top__nav__burger::before,
.general-header__top__nav__burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: white;
}
.general-header__top__nav__burger::before{
  top: 0;
  box-shadow: 0 11px 0 white;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.general-header__top__nav__burger::after
{
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}
.general-header__top__nav__burger-checkbox:checked + .general-header__top__nav__burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .general-header__top__nav__burger-checkbox:checked + .general-header__top__nav__burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
.general-header__top__nav__burger-checkbox,.general-header__top__nav__burger{
    display: none;
}

.general-header__top__nav__list-item{
    @include NavigationStyle();
    margin: 0 15px;
}
.general-header__bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.general-header__bottom__title{
    max-width: 1170px;
    margin-bottom: 20px;
    font-size: $h1_size;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: $font_raleway;
    color: white;
}
.general-header__bottom__subject{
    max-width: 1170px;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: $font_raleway;
    color: white;
}
.general-header__bottom__link{
    @include buttonStyle();
}
@media(max-width: $phone_adaptive)
{
  
  .general-header__top__nav__burger-checkbox:checked ~ .general-header__top__nav__list {
        top: 0;
        right: 0;
        position: absolute;
        display: flex;
        padding: 42px 0;
        margin: 0;
        background-image: url('./img/bg_menu.png');
        list-style-type: none;
        width: 200px;
  }
    .general-header__top__nav__burger-checkbox, .general-header__top__nav__burger{
        display: block;
    }
    .general-header__top__nav__burger-checkbox:checked ~ .general-header__top__nav__list-item{
        display: block;
        padding: 8px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
      }
      .general-header__top__nav__list{
         display: none;
      }
      .general-header__bottom__title{
        font-size: 36px;
      }
      .general-header__bottom__subject{
        font-size: 14px;
      }
      .general-header__top__logo{
        font-size: 20px;
      }
}